<div id="available-things" v-cloak>

  <h1>Things</h1>
  <p>Check things you want to borrow</p>

  <button>Todo</button>
  <ul v-for="thing in things" >
    <li v-if="thing.owner === me.id">{{thing.label}} (You own this)
      <!-- <button @click="clickThing(thing.id)" >Delete</button> -->
      <button @click="clickDeleteButton(thing.id)">Delete</button>
      
    </li>

    <li v-else>{{thing.label}}</li>
    
    <tab v-else :key="tab.id" :name="tab.id"></tab>
  </ul>

  <% /* Confirm delte things modal */ %>
  <modal v-if="confirmDeleteModalOpen">
    <div class="card">
      <div class="card-header">
        Remove this item?
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this item?</h5>
        <p class="card-text">This item will no longer be available on Ration!</p>
        <a href="#" class="btn btn-light float-right">Nevermind</a>
        <a href="#" class="btn btn-danger float-right">Delete</a>
      </div>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
