<div id="available-things" v-cloak>

  <h1>Things</h1>
  <p>Check things you want to borrow</p>

  <button>Todo</button>
  <ul v-for="thing in things" >
    <li v-if="thing.owner === me.id">{{thing.label}} (You own this)
      <button @click="clickThing(thing.id)" >Delete</button>
    </li>

    <li v-else>{{thing.label}}</li>
    
    <tab v-else :key="tab.id" :name="tab.id"></tab>
  </ul>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
