<div id="available-things" v-cloak>

  <h1>Things</h1>
  <p>Check things you want to borrow</p>

  <button>Todo</button>
  <ul v-for="thing in things" >
    <li v-if="thing.owner === me.id">{{thing.label}} (You own this)
      <!-- <button @click="clickThing(thing.id)" >Delete</button> -->
      <button @click="clickDeleteButton(thing.id)">Delete</button>
      
    </li>

    <li v-else>{{thing.label}}</li>
    
    <tab v-else :key="tab.id" :name="tab.id"></tab>
  </ul>

  <% /* Confirm delte things modal */ %>
  <modal v-if="confirmDeleteModalOpen && selectedThing">
    <ajax-form 
      action="destroyOneThing" 
      :syncing.synch="syncing"
      :cloud-error.synch="cloudError"
      :handle-parsing="handleParsingDeleteThingForm"
      @submitted="submittedDeleteThingForm"  
    >
      <div class="card">
        <div class="card-header">
          Remove this item?
          <button type="button" data-dismiss="modal" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">Are you sure you want to delete {{selectedThing.label}}?</h5>
          <p class="card-text">This item will no longer be available to share with friends!</p>
          <button type="submit" class="btn btn-danger float-right">Delete</button>
          <button data-dismiss="modal" type="button" class="btn btn-light float-right">Nevermind</button>
        </div>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
