<div id="available-things" v-cloak>

  <h1>Things</h1>
  <p>Check things you want to borrow</p>

  <button @click="clickAddThingButton">Add Thing</button>
  <ul v-for="thing in things" >
    <li v-if="thing.owner === me.id">{{thing.label}} (You own this)
      <!-- <button @click="clickThing(thing.id)" >Delete</button> -->
      <button @click="clickDeleteButton(thing.id)">Delete</button>
      
    </li>

    <li v-else>{{thing.label}}</li>
    
    <tab v-else :key="tab.id" :name="tab.id"></tab>
  </ul>

  <% /* Add new thing modal */ %>
  <modal v-if="uploadModalOpen">
    <ajax-form action="uploadThing"
      :syncing.synch="syncing"
      :cloud-error.synch="cloudError"
      :handle-parsing="handleParsingUploadForm"
      @submitted="submittedUploadThingForm($event)"
    >
      <div class="card">
        <div class="form-group">
            <div class="card-header">
              Upload New Thing
              <button type="submit" data-dismiss="modal" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Add a photo:</li>
            </ul>
            <div class="row">
              <div class="col-md-6">
                <img class="card-img-left img-thumbnail"
                  src="https://www.blackbeltkaratestudio.com/wp-content/uploads/2017/04/default-image.jpg" alt="Uplad your Image">
              </div>
              <div class="col-md-6">
                <label for="exampleFormControlFile1">Upload your file</label>
                <input type="file" @change="changeFileInput($event.target.files)" :disabled="syncing" accept="image/*" class="form-control-file">
                <p><b>TIP: </b> Make sure the thing is in the front and center of the image!</p>
              </div>
            </div>
        </div>
        <div class="card-body">
          What is it?
          <input type="text" class="">
        </div>
        
        <div class="card-body">
          <button class="btn btn-danger float-right">Share Item</button>
          <button data-dismiss="modal" type="button" class="btn btn-light float-right">Cancel</button>
        </div>
      </div>
    </ajax-form>
  </modal>

  <% /* Confirm delte things modal */ %>
  <modal v-if="confirmDeleteModalOpen && selectedThing">
    <ajax-form 
      action="destroyOneThing" 
      :syncing.synch="syncing"
      :cloud-error.synch="cloudError"
      :handle-parsing="handleParsingUploadForm"
      @submitted="submittedDeleteThingForm"  
    >
      <div class="card">
        <div class="card-header">
          Remove this item?
          <button type="button" data-dismiss="modal" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">Are you sure you want to delete {{selectedThing.label}}?</h5>
          <p class="card-text">This item will no longer be available to share with friends!</p>
          <button type="submit" class="btn btn-danger float-right">Delete</button>
          <button data-dismiss="modal" type="button" class="btn btn-light float-right">Nevermind</button>
        </div>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
